*{margin: 0px;;
padding:10px}
p{color: blue;font-size: 20px;
}
body{background-color: aliceblue;}
h1{color: crimson
    ;text-align: center;}
h2{font-family: Arial, Helvetica, sans-serif;color: brown;}

p.description{color: black;}
